# 1.manipulate using a list

In [2]:
list=[23,3,'python']
list

[23, 3, 'python']

In [3]:
#To add new elements to the end of the list

list.append(23456)
list

[23, 3, 'python', 23456]

In [8]:
#To reverse elements in the list
list.reverse()
print('Reversed list: \n\n',list)

Reversed list:

 [23, 3, 'python', 23456]

In [10]:
#To display the same list of elements multiple times.
list*5
print('list of elements multiple times: \n\n',list*5)

list of elements multiple times:

 [23, 3, 'python', 23456, 23, 3, 'python', 23456, 23, 3, 'python', 23456, 23, 3, 'python', 23456, 23, 3, 'python', 23456]

In [11]:
#To concatenate two list
list1=[1,2,3]
list2=[4,5,6]
list3=list1+list2
print("concatenate+:"+str(list3))

concatenate+:[1, 2, 3, 4, 5, 6]

In [20]:
#To sort the elements in the list in ascending order
list=[40,30,10,50,20]
list.sort()
print(list)

[10, 20, 30, 40, 50]

# 2 write a python to do in the tuples

In [45]:
#1)Manipulate using tuples
tuple=(1,2,3,4,5)
tuple1=tuple+(6,7,8)
print("manipulate using tuples:",tuple1)

manipulate using tuples: (1, 2, 3, 4, 5, 6, 7, 8)

In [46]:
#2)To add new elements to the end of the tuples
tuple +=(6,7,8)
print("Add new elements:",tuple)

Add new elements: (1, 2, 3, 4, 5, 6, 7, 8)

In [74]:
#3)To reverse elements in the list
l=[1,2,3,4,5]
l.reverse
print(l)
print(l.reverse)

[1, 2, 3, 4, 5]
<built-in method reverse of list object at 0x00000246B7C00DC0>

In [60]:
#4)to display the elements of the same tuple multiple times
tuple1=tuple*3
print("display elements multiple times:",tuple1)

display elements multiple times: (5, 3, 1, 4, 2, 5, 3, 1, 4, 2, 5, 3, 1, 4, 2)

In [54]:
#5)To concatenate two tuples
tuple1=(1,2,3)
tuple2=(4,5,6)
tuple3=tuple1+tuple2
print("concatenate two tuples:",tuple3)

concatenate two tuples: (1, 2, 3, 4, 5, 6)

In [86]:
#6)To sort the elements in the list in ascending order
tuples=(2,6,4,6)
tuples=sorted(tuples)
print(tuples)

[2, 4, 6, 6]

# 3)Write a program to implement the following using list

In [36]:
#1)Create a list with integers(minimum 10 numbers)
list=[1,2,3,4,5,6,7,8,9,10]

tuple

In [75]:
#2)How to display the last number in the list
l_number=list[-1]
print("last number in the list:",l_number)

last number in the list: 11

In [76]:
#3)command for displaying the values from the list[0:4]
subset_0_to_4=list[0:4]
print("values from index 0 to 3:",subset_0_to_4)

values from index 0 to 3: [10, 20, 30, 40]

In [77]:
#4)command for displaying the values from the list[2:]
subset_from_2_onwards=list[2:]
print("values from index 2 onwards:",subset_from_2_onwards)

values from index 2 onwards: [30, 40, 50, 11, 11]

In [78]:
#5)command for displaying the values from the list[:6]
subset_up_to_6=list[:6]
print("values up to index 5:",subset_up_to_6)

values up to index 5: [10, 20, 30, 40, 50, 11]

# 4)write a python:tuple1=(10,50,20,40,30)

In [79]:
#1)to display the elements 10 and 50 from tuple1
tuple1=(10,50,20,40,30)
print("elements 10 and 50 from tuple1:",tuple1[0],tuple1[1])

elements 10 and 50 from tuple1: 10 50

In [80]:
#2)To display the length of a tuple1
print("length of a tuple1:",len(tuple1))

length of a tuple1: 5

In [81]:
#3)to find the minimum element from tuple1
min_element=min(tuple1)
print("minimum element from tuple1:",min_element)

minimum element from tuple1: 10

In [82]:
#4)to add all elements in the tuple1
sum_elements=sum(tuple1)
print("sum of elements in tuple1:",sum_elements)

sum of elements in tuple1: 150

In [85]:
#5)To display the same tuple1 multiple times
n=3
tuple1_multiple = tuple1 * n
print("tuple1 repeated", n, "times:", tuple1_multiple)

tuple1 repeated 3 times: (10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5)write a python program:

In [5]:
#1)To calculate the length of a string
def calculate_length(input_string):
    return len(input_string)
input_string="Hello world"
print("length of a string:",calculate_length(input_string))

length of a string: 11

In [20]:
#2)To reverse words in a string
def reverse_words(input_string):
    words=input_string.split()
    reversed_words=' '.join(reversed(words))
    return reversed_words
print("Reverse words in the string:", reverse_words(input_string))

Reverse words in the string: world Hello

In [25]:
#3)To display the same string multiple times
def repeat_string(input_string, times):
    repeated_string=input_string * times
    return repeated_string
times=3
print("display same string multiple times:",repeat_string(input_string, times))

display same string multiple times: Hello worldHello worldHello world

In [63]:
#4)To concatenate two strings
def concatenate_string(str1, str2):
    concatenated_string=str1 + str2
    return concatenated_string
str1 = "Hello, "
str2 = "world!"
print("concatenated strings:",concatenate_string(str1, str2))

concatenated strings: Hello, world!

In [32]:
#5)str1="south india",using string slicing to display"india"
str1 = "South India"
sliced_string = str1[6:]
print("sliced string:",sliced_string)

sliced string: India

# 6)perform the following

In [34]:
#1)Creating the Dictionary
dict = {'name':'john','age':'20','city':'dehli'}
print(dict)

{'name': 'john', 'age': '20', 'city': 'dehli'}

In [37]:
#2)Accessing values and keys in the Dictionary
name=dict['name']
print(name)

john

In [38]:
keys=dict.keys()
print(keys)

dict_keys(['name', 'age', 'city'])

In [40]:
values=dict.values()
print(values)

dict_values(['john', '20', 'dehli'])

In [47]:
#3)Updating the dictionary using a function
dict['age']=21
print(dict)

{'name': 'john', 'age': 21, 'city': 'new york', 'country': 'USA'}

In [49]:
dict.update({'city':'new york','country':'USA'})
print(dict)

{'name': 'john', 'age': 21, 'city': 'new york', 'country': 'USA'}

In [52]:
#4)Clear and delete the dictionary values
dict.clear()
print(dict)

{}

In [55]:
del dict
print(dict)

<class 'dict'>

# 7)Python program to insert a number to any position in a list

In [56]:
list=[1,2,3,4,5]
insert1=10
position=2
list.insert(position,insert1)
print("updated list:",list)

updated list: [1, 2, 10, 3, 4, 5]

# 8)python program to delete an element from a list by index

In [59]:
list=[10,20,30,40,50]
delete=2
if 0 <= delete < len(list):
    del list[delete]
    print("updated list after deleting element:",list)
else:
    print("index is out of range")

updated list after deleting element: [10, 20, 40, 50]

# 9)write a program to display a number from 1 to 100

In [60]:
for number in range(1,101):
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10)write a python program to find the sum of all items in a tuple

In [7]:
tuple=(1,2,3,4,5)
sum_items=0
for item in tuple:
    sum_items += item
    print("sum of all items in the tuple:",sum_items)

sum of all items in the tuple: 1
sum of all items in the tuple: 3
sum of all items in the tuple: 6
sum of all items in the tuple: 10
sum of all items in the tuple: 15

# 11Create a dictionary containing three lambda functions square,cube and square root
#1)E.g,dict={square':function for squaring,'cube':functon for cube,'squareroot':function for square root}
#2)pass the values(input from user)to the functions in the dictionary respectively
#3)then add the outputs of each function and print it

In [35]:
functions = {
    'Square': lambda x: x ** 2,
    'Cube': lambda x: x ** 3,
    'Square Root': lambda x: x ** 0.5,
}
results = {}
for func_name, func in functions.items():
    value = float(input(f'Enter a value for {func_name}: '))
    results[func_name] = func(value)
total = sum(results.values())
print('Results:')
for func_name, result in results.items():
    print(f'{func_name}: {result}')
print('Total of all results:', total)

Enter a value for Square: 4
Enter a value for Cube: 8
Enter a value for Square Root: 2
Results:
Square: 16.0
Cube: 512.0
Square Root: 1.4142135623730951
Total of all results: 529.4142135623731

# 12)A list of words is given. Find the words from the list that have their second character in uppercase.

Is=['hello', 'Dear', 'how', 'ARe', 'You']

In [8]:
words = ['hello', 'Dear', 'how', 'ARe', 'You']
result = []

for word in words:
    if len(word) > 1 and word[1].isupper():
        result.append(word)

print(result)

['ARe']

# 13)A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon. (Use map and lambda functions) Formula: wMoon (wEarth GMoon)/GEarth

0 #Weight of people in kg
WeightOnEarth = ('John':45, "Shelly':65, 'Marry':35]
#Gravitational force on the Moon: 1.622 m/s2
GMoon 1.622
#Gravitational force on the Earth: 9.81 m/s2
GEarth 9.81

In [26]:
GMoon = 1.622
GEarth = 9.81
WeightOnEarth = {'John': 45, 'Shelly': 65, 'Marry': 35}
WeightOnMoon = dict(map(lambda item: (item[0], item[1] * GMoon / GEarth), WeightOnEarth.items()))
for name, weight_moon in WeightOnMoon.items():
    print(f"{name}'s weight on the Moon: {weight_moon} kg")

John's weight on the Moon: 7.440366972477065 kg
Shelly's weight on the Moon: 10.747196738022426 kg
Marry's weight on the Moon: 5.786952089704383 kg

# control statements

In [ ]:
#1)Write a python program to find the first N prime numbers

In [33]:
N = int(input('Enter the value of N: '))
count = 0
num = 2

while count < N:
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if (num % i) == 0:
            is_prime = False
            break
    if is_prime:
        print(num)
        count += 1
    num += 1

Enter the value of N: 10
2
3
5
7
11
13
17
19
23
29

# 2)Write the python code that calculates the salary of an employee. Prompt the user to enter the Basic Salary, HRA, TA, and DA. Add these components to calculate the Gross Salary. Also, deduct 10% of salary from the Gross Salary to be paid as tax and display gross minus tax as net salary.

In [25]:
basic_salary = float(input("Enter Basic Salary: "))
hra = float(input("Enter HRA: "))
ta = float(input("Enter TA: "))
da = float(input("Enter DA: "))
gross_salary = basic_salary + hra + ta + da
tax = 0.10 * gross_salary
net_salary = gross_salary - tax
print(f"Gross Salary: {gross_salary:.2f}")
print(f"Tax (10%): {tax:.2f}")
print(f"Net Salary: {net_salary:.2f}")

Enter Basic Salary: 30000
Enter HRA: 20
Enter TA: 50
Enter DA: 40
Gross Salary: 30110.00
Tax (10%): 3011.00
Net Salary: 27099.00

# 3)write a python program to search for a string in the given list

In [4]:
def search_string_in_list(input_list,search_string):
    return[index for index,item in enumerate(input_list) if search_string in item]
my_list=["apple","banana","kiwi","cherry","date"]
search_string="an"
result=search_string_in_list(my_list,search_string)
if result:
    print(f"the string '{search_string}' was found at indices: {result}")
else:
    print(f"the string '{search_string}' was not found in the list")

the string 'an' was found at indices: [1]

# 4)write a python function that accepts a string and calculates the number of upper-case letters and lower-case letters.

In [3]:
def count_upper_lower_letters(input_string):
    upper_count = 0
    lower_count = 0
    for char in input_string:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1
    return upper_count, lower_count
input_str = input("Enter a string:")
upper_count,lower_count = count_upper_lower_letters(input_str)
print("Uppercase letters:", upper_count)
print("Lowercase letters:", lower_count)

Enter a string:Hello World
Uppercase letters: 2
Lowercase letters: 8

# 5)write a program to display the sum of odd numbers and even numbers that fall between 12 and 37

In [8]:
sum_odd = 0
sum_even = 0
for num in range(12, 38):
    if num % 2 == 0:
        sum_even += num
    else:
        sum_odd += num
print("Sum of even numbers:", sum_even)
print("Sum of odd numbers:", sum_odd)

Sum of even numbers: 312
Sum of odd numbers: 325

# 6)write a python to print the table of any number

In [2]:
number = int(input("Enter a number: "))
print(f"Multiplication Tables for {number}:")
for i in range(1, 11):
    product = number * i
    print(f"{number} x {i} = {product}")

Enter a number: 5
Multiplication Tables for 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# 7)write a python program to sum the first 10 prime numbers

In [1]:
def is_prime(n):
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

def sum_first_n_primes(n):
    prime_sum = 0
    count = 0
    num = 2  
    while count < n:
        if is_prime(num):
            prime_sum += num
            count += 1
        num += 1
    return prime_sum

n = 10
result = sum_first_n_primes(n)
print(f"The sum of the first {n} prime numbers is: {result}")

The sum of the first 10 prime numbers is: 129

# 8)Write a python program to implement arithmetic operations using nested if statement.

In [9]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
operation = input("Enter operation (+, -, *, /): ")
if operation == '+':
    result = num1 + num2
    print(f"{num1} + {num2} = {result}")
elif operation == '-':
    result = num1 - num2
    print(f"{num1} - {num2} = {result}")
elif operation == '*':
    result = num1 * num2
    print(f"{num1} * {num2} = {result}")
elif operation == '/':
    if num2 == 0:
        print("Division by zero is not allowed.")
    else:
        result = num1 / num2
        print(f"{num1} / {num2} = {result}")
else:
    print("Invalid operation. Please enter +, -, *, or /.")

Enter first number: 10
Enter second number: 20
Enter operation (+, -, *, /): +
10.0 + 20.0 = 30.0

# 9)Write a python program to take the temperature in Celsius and convert it to a Fahrenheit.

In [10]:
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print(f"{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit")

Enter temperature in Celsius: 100
100.0 degrees Celsius is equal to 212.0 degrees Fahrenheit

# 10)Write a python program to find a maximum and minimum number in a list without using aninbuilt function

In [11]:
def find_max_min(numbers):
    if len(numbers) == 0:
        return None, None

    max_num = min_num = numbers[0]  

    for num in numbers:
        if num > max_num:
            max_num = num
        elif num < min_num:
            min_num = num

    return max_num, min_num
numbers = [12, 45, 6, 89, 32, 56, 78, 2, 10]
max_value, min_value = find_max_min(numbers)
print(f"Maximum value: {max_value}")
print(f"Minimum value: {min_value}")

Maximum value: 89
Minimum value: 2

# 11)Write a program in python to print out the number of seconds in 30-day month 30 days, 24 hours in a day, 60 minutes per day, 60 seconds in a minute.

In [12]:
days_in_month = 30
hours_in_day = 24
minutes_in_hour = 60
seconds_in_minute = 60
seconds_in_30_days = days_in_month * hours_in_day * minutes_in_hour * seconds_in_minute
print("Number of seconds in a 30-day month:", seconds_in_30_days)

Number of seconds in a 30-day month: 2592000

# 12)Write a program in python to print out the number of seconds in a year.

In [13]:
days_in_year = 365
hours_in_day = 24
minutes_in_hour = 60
seconds_in_minute = 60
seconds_in_year = days_in_year * hours_in_day * minutes_in_hour * seconds_in_minute
print("Number of seconds in a year (non-leap year):", seconds_in_year)

Number of seconds in a year (non-leap year): 31536000

# 13)A high-speed train can travel at an average speed of 150 mph, how long will it take a train,travelling at this speed to travel from London to Glasgow which is 414 miles away?

In [17]:
average_speed = 150
distance = 414
time_hours = distance / average_speed
print("It will take", time_hours, "hours to travel from London to Glasgow at an average speed of 150 mph.")

It will take 2.76 hours to travel from London to Glasgow at an average speed of 150 mph.

 # 14)Write a python program that defines a variable called days_in_each_school_year and assign 192 to the variable. The program should then print out the total hours that you spend in school from year 7 to year 11, if each day you spend 6 hours in school days_in_each_school_year = 192

In [16]:
days_in_each_school_year = 192
total_hours_in_school = days_in_each_school_year * 5  
print("Total hours spent in school from year 7 to year 11:", total_hours_in_school)

Total hours spent in school from year 7 to year 11: 960

# 15) If the age of Ram,Sam and Khan are input through the keyboard,write a python program to determine the eldest and youngest of the three.

In [18]:
ram_age = int(input("Enter Ram's age: "))
sam_age = int(input("Enter Sam's age: "))
khan_age = int(input("Enter Khan's age: "))
eldest = "Ram"
youngest = "Ram"
if sam_age > ram_age:
    eldest = "Sam"
    youngest = "Ram"
elif sam_age < ram_age:
    youngest = "Sam"

if khan_age > sam_age:
    eldest = "Khan"
elif khan_age < sam_age:
    youngest = "Khan"
print(f"The eldest among Ram, Sam, and Khan is {eldest}.")
print(f"The youngest among Ram, Sam, and Khan is {youngest}.")

Enter Ram's age: 10
Enter Sam's age: 20
Enter Khan's age: 30
The eldest among Ram, Sam, and Khan is Khan.
The youngest among Ram, Sam, and Khan is Ram.

# 16)Write a python program to rotate a list by right n times with and without slicing technique.

In [19]:
def rotate_list_right_with_slicing(lst, n):
    n = n % len(lst)  # Ensure n is within the range of list length
    rotated_list = lst[-n:] + lst[:-n]
    return rotated_list
my_list = [1, 2, 3, 4, 5]
n = 2
rotated_list = rotate_list_right_with_slicing(my_list, n)
print(rotated_list)

[4, 5, 1, 2, 3]

In [20]:
def rotate_list_right_without_slicing(lst, n):
    n = n % len(lst)  # Ensure n is within the range of list length
    rotated_list = []
    for i in range(len(lst)):
        rotated_list.append(lst[(i - n) % len(lst)])
    return rotated_list
my_list = [1, 2, 3, 4, 5]
n = 2
rotated_list = rotate_list_right_without_slicing(my_list, n)
print(rotated_list)

[4, 5, 1, 2, 3]

# 17)Python program to print the patters given below

In [30]:
#pattern 1
def print_triangle(size):
    for i in range(0, size):
        for j in range(0, i+1):
            print(decide_number(i,j),end=' ')
        print()
def decide_number(n,k):
    num =1
    if k>n-k:
        k=n-k
    for i in range(0,k):
        num=num*(n-i)
        num=num//(i+1)
    return num
rows=7
print_triangle(rows)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [23]:
#pattern 2
n= 5
for i in range(1, n + 1):
    print('*' * i)

*
**
***
****
*****

In [31]:
#3)pattern3
n = int(input())
k = n-1
for i in range(0,n):
  for j in range(0,k):
    print(end=" ")
  k=k-1
  for j in range(0,i+1):
    print("* ",end="")
  print("\r")

7
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

# python program to print the patters given below

In [24]:
#pattern 4
word = "python"
for i in range(1, len(word) + 1):
    print(word[:i])

p
py
pyt
pyth
pytho
python