# 1.manipulate using a list

In [2]:
list=[23,3,'python']
list

[23, 3, 'python']

In [3]:
#To add new elements to the end of the list

list.append(23456)
list

[23, 3, 'python', 23456]

In [8]:
#To reverse elements in the list
list.reverse()
print('Reversed list: \n\n',list)

Reversed list:

 [23, 3, 'python', 23456]

In [10]:
#To display the same list of elements multiple times.
list*5
print('list of elements multiple times: \n\n',list*5)

list of elements multiple times:

 [23, 3, 'python', 23456, 23, 3, 'python', 23456, 23, 3, 'python', 23456, 23, 3, 'python', 23456, 23, 3, 'python', 23456]

In [11]:
#To concatenate two list
list1=[1,2,3]
list2=[4,5,6]
list3=list1+list2
print("concatenate+:"+str(list3))

concatenate+:[1, 2, 3, 4, 5, 6]

In [20]:
#To sort the elements in the list in ascending order
list=[40,30,10,50,20]
list.sort()
print(list)

[10, 20, 30, 40, 50]

# 2 write a python to do in the tuples

In [45]:
#1)Manipulate using tuples
tuple=(1,2,3,4,5)
tuple1=tuple+(6,7,8)
print("manipulate using tuples:",tuple1)

manipulate using tuples: (1, 2, 3, 4, 5, 6, 7, 8)

In [46]:
#2)To add new elements to the end of the tuples
tuple +=(6,7,8)
print("Add new elements:",tuple)

Add new elements: (1, 2, 3, 4, 5, 6, 7, 8)

In [74]:
#3)To reverse elements in the list
l=[1,2,3,4,5]
l.reverse
print(l)
print(l.reverse)

[1, 2, 3, 4, 5]
<built-in method reverse of list object at 0x00000246B7C00DC0>

In [60]:
#4)to display the elements of the same tuple multiple times
tuple1=tuple*3
print("display elements multiple times:",tuple1)

display elements multiple times: (5, 3, 1, 4, 2, 5, 3, 1, 4, 2, 5, 3, 1, 4, 2)

In [54]:
#5)To concatenate two tuples
tuple1=(1,2,3)
tuple2=(4,5,6)
tuple3=tuple1+tuple2
print("concatenate two tuples:",tuple3)

concatenate two tuples: (1, 2, 3, 4, 5, 6)

In [72]:
#6)To sort the elements in the list in ascending order
tuples=[2,6,4,6]
tuples=sorted(tuples)
print(tuples)

[2, 4, 6, 6]

# 3)Write a program to implement the following using list

In [36]:
#1)Create a list with integers(minimum 10 numbers)
list=[1,2,3,4,5,6,7,8,9,10]

tuple

In [75]:
#2)How to display the last number in the list
l_number=list[-1]
print("last number in the list:",l_number)

last number in the list: 11

In [76]:
#3)command for displaying the values from the list[0:4]
subset_0_to_4=list[0:4]
print("values from index 0 to 3:",subset_0_to_4)

values from index 0 to 3: [10, 20, 30, 40]

In [77]:
#4)command for displaying the values from the list[2:]
subset_from_2_onwards=list[2:]
print("values from index 2 onwards:",subset_from_2_onwards)

values from index 2 onwards: [30, 40, 50, 11, 11]

In [78]:
#5)command for displaying the values from the list[:6]
subset_up_to_6=list[:6]
print("values up to index 5:",subset_up_to_6)

values up to index 5: [10, 20, 30, 40, 50, 11]

# 4)write a python:tuple1=(10,50,20,40,30)

In [79]:
#1)to display the elements 10 and 50 from tuple1
tuple1=(10,50,20,40,30)
print("elements 10 and 50 from tuple1:",tuple1[0],tuple1[1])

elements 10 and 50 from tuple1: 10 50

In [80]:
#2)To display the length of a tuple1
print("length of a tuple1:",len(tuple1))

length of a tuple1: 5

In [81]:
#3)to find the minimum element from tuple1
min_element=min(tuple1)
print("minimum element from tuple1:",min_element)

minimum element from tuple1: 10

In [82]:
#4)to add all elements in the tuple1
sum_elements=sum(tuple1)
print("sum of elements in tuple1:",sum_elements)

sum of elements in tuple1: 150

In [85]:
#5)To display the same tuple1 multiple times
n=3
tuple1_multiple = tuple1 * n
print("tuple1 repeated", n, "times:", tuple1_multiple)

tuple1 repeated 3 times: (10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5)write a python program: